.button {
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border: 1px solid  #F3AF34;
    border-radius: 4px;
}