.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__nav {
    display: flex;
    gap: 50px;
}

.header__link {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.3;
}

.header__icon-wrapper {
    display: flex;
    gap: 20px;
}

.header__languages {
    display: flex;
 align-items: center;
}

.header__lang li > ul {
    display: none;

}

.header__language-list {
    align-items: center;
    position: relative;
    transition: 0.5s;
    display: block;
    background-color: #000000;
}

.header__lang li:hover ul {
    display: block;
    position: absolute;
}


.header__lang--link {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
    text-transform: uppercase;

}

.header__lang--link:hover {
    color: #F3AF34;

}