@import "../src/styles/header.css";
@import "../src/styles/hero.css";
@import "../src/styles/about.css";
@import "../src/styles/features.css";
@import "../src/styles/requirements.css";






body {
    font-family: OpenSans, sans-serif;
    background-color: #000000;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

